* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
} 

/* commons */

.container-70 {
    width: 70%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
  cursor: pointer;  
}

li {
    list-style-type: none;
}

li i {
    padding: 0.2em 0.5em 1em 0;
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-sx {
    float: left;
}

.float-dx {
    float: right;
}

.btn {
  display: inline-block;
  line-height: 2em;
  padding: 0.2em 1.3em;
}

.btn-blue{
    background-color: #0061FF;
    color: white;
}

.btn-border {
    border: 1px solid black;
}

.btn-white {
    background-color: white;
}

* h2 {
    font-size: 2.3em;
}

/* header */

.navbar {
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
    background-color: #FFFFFF;
    width: 100%;
    line-height: 5em;
}

header a {
    padding: 0 1em;
    color: black;
}

.menu-inline li {
    display: inline-block;
}

.menu-inline .btn-blue {
     margin-right: 1em;
}

.logo {
    vertical-align: middle;
}

/* jumbo */

.jumbo {
    padding: 3em 6em 0;    
    background-color: #b4d0e7;
}

.jumbo-title {
    font-size: 3em;
    margin-top: 3em;
    font-weight: 800;
}

.arrow a {
    display: inline-block;
    font-size: 2em;
    font-weight: bolder;
    margin-top: 1em;
    padding: 0; 
}

.jumbo-clm.float-sx {
    width: 35%; 
    margin-right: 2em;
    padding: 1em;
}

.jumbo-img {
    width: calc(65% - 2em);
    position: relative;
    bottom: -5em;
    left: 5em;
}

.jumbo-img img {
    width: 100%;
}

.jumbo-p {
    margin-top: 5em;
    margin-bottom: 2em;
}

.jumbo-btn {
    margin-bottom: 1em;
}

/* jumbo */

/* section-plans */

#plans {
    margin-top: 10em;
}

.title-plans {
    margin-bottom: 2em;
}

.radio-section {
    margin-bottom: 1.5em;
}

.radio {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.radio.checked {
    border: 4px solid #0061FF;
}

.radio.no-checked {
    border: 1px solid #E4E4E6;
    margin-left: 1em;
}

.card {
    width: calc(100% / 3 - 2em);
    padding: 0.5em;
    border: 1px solid #E7E7E9;
}

.pd-bottom {
    padding-bottom: 4.2em;
}

.card li {
    margin-bottom: 1em;
}

.card.center {
    margin: 0 2em;
}

.card-opt {
    border-bottom: 1px solid #E7E7E9;
    text-align: center;
}

.card-top h3 {
    font-size: 1.5em;
    margin: 1em 0 0.5em;
}

.price-card {
    font-weight: bold;
}

.monthly {
    color: #74828F;
    margin-bottom: 2em;
}

.buy-now a {
    color: #7DAEFF;
}

.dash {
    margin: 2em 0 3em;
    width: 4em;
}

.fas.fa-check {
    color: #106AFF;
}


.card-top.btn {
    margin: 2em 0 3em 0.5em;
}

.card-bottom h4 {
    margin-bottom: 2em;
}

.row {
    border: 1px solid #E7E7E9;
    margin-top: 2em;
    width:calc(100% - 2em);
}

.row-opt {
    border-bottom: 1px solid #E7E7E9;
    text-align: center;
    padding: 0.5em;
}

.row-title {
    position: relative;
    padding: 1em 1em 0.5em 1em;
}

.row-title h3 {
    margin-bottom: 0.5em;
}

.row-title h4 {
    margin-bottom: 1em;
}

.row-btn {
    position: absolute;
    top: 1em;
    right: 0;
    margin-right: 1em;
}

.row-btn a.btn-blue {
    padding: 0.5em 3em;
}
 
/* section-plans */

/* section-partner */

.partner-section {
    margin-top: 10em;
}

.partner-img {
    width: 55%;
    margin-right: 2.5em;
}

.partner-img img {
    width:100%
}

.find-partner {
    width: calc(45% - 2.5em);
}

.find-partner h2 {
    margin-top: 1.5em;
}

.text-partner {
    line-height: 1.8em;
    margin: 1.5em 0;
}

/* section-partner */

/* section-operation */

.operation-title {
    margin: 3em 0 2em;
}
.col {
    width: calc(100% / 3 - 2.5em)
}

.col-img img {
    width: 100%;
}

.tools-line {
    margin-bottom: 7em;
}

.tools-line .col {
    float: left;
    margin-right: 2.5em;
}

.col-title h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.underline {
    text-decoration: underline;
}

/* section-operation */

/* section-customers */

.height {
    height: 100vh;
}

.title-customers h1 {
    margin-bottom: 1em;
}

.more-info {
    margin: 2em 0;
}

.more-info a {
    text-decoration: underline;
}

.box-container {
    height: 70%;
}

.box {
    height: 100%;
    float: left;
}

.box.left, .box.right {
    width:30%; 
}

.box.center {
    width: 40%;
    background-color: #E5E5E5;
    padding: 3em 3em;
}

.box.center img {
    width: 30%;
    margin-bottom: 6em;
}

.designit-text {
    margin-bottom: 5em;
}

.square {
    width: calc(100% / 2);
    height: calc(100% / 2);
    float: left;
    position: relative;
}

.square:hover {
    cursor: pointer;
}

.square img {
    width: 50%;
    object-fit: contain;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.designit {
    background-color: #82A97C;
}

.uf {
    background-color:#0076A5;
}

.asu {
    background-color:#61082B;
}

.topps {
    background-color:#CC1616;
}

.bicycle {
    background-color:#AA0019;
}

.lonely {
    background-color:#0A1D67;
}

.herst {
    background-color:#90A6B9;
}

.clear {
    background-color:#CCAD26;
}

.box-bottom {
    height: 50%;
    width:100%;
    background-color: #B4D0E7;
    float: left;
}

.free-trial {
    width: 70%;
    margin: 2em auto;
}

.free-trial-btn {
    float: right;
    width: 40%;
    padding: 3em 2.5em;
}

.free-trial-title {
    display: inline-block;
    color: #61082B;
    padding: 3em 0;
}

/* section-customers */

/* section-faq */

.faq {
    margin-top: 20em;
    line-height: 5em;
}

.faq-title {
    margin-bottom: 3em;
}

.question {
    border: 1px solid #DCDCDE; border-width: 1px 0;
    font-weight: bold;
}

.answer {
    float: right;
}
/* section-faq */

/* section-footer */

footer {
    margin-top:5em;
    padding: 3em 6em;
    background-color: #000000;
}

.ftr-bottom {
    margin-top: 7em;
    padding-bottom: 2em;
}

.ftr {
    margin-top: 5em;
    margin-right: 0.5em;
    float: left;
    width:calc(100% / 5 - 0.5em);
    line-height: 2em;
}

.ftr li, .ftr h4 {
    filter: invert(1);
}

.menu-ftr-title {
    margin-bottom: 2em;
    font-weight: 800;
}

.dash-footer {
    margin: 4em 0;
    width: 8em;
    border-color: #5F5F5F;
}

.languages {
    color: #5F5F5F;
    font-size: 1em;
}

.triangle {
    font-size: 1.3em;
}

/* section-footer */
  


